* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}

:root {
    --nav-size: 64px;
}

body {
    background: white;
    color: #205;
}

.header-container, .filters {
    -webkit-box-shadow: inset 0 -1px 0 rgb(100 121 143 / 12%);
    box-shadow: inset 0 -1px 0 rgb(100 121 143 / 12%);
}

header {
    display: flex;
    flex: 1 0 auto;
    padding: 8px;
}

.search-form {
    background: #f1f3f4;
    border: 1px solid transparent;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-left: 8px;
    margin-right: 8px;
    max-width: 720px;
    position: relative;
    -webkit-transition: background 100ms ease-in, box-shadow 250ms, width 100ms ease-out;
    transition: background 100ms ease-in, box-shadow 250ms, width 100ms ease-out;

    flex-grow: 1;
}

.search-form.active {
    background: white;
    -webkit-box-shadow: 0 1px 1px 0 rgb(65 69 73 / 30%), 0 1px 3px 1px rgb(65 69 73 / 15%);
    box-shadow: 0 1px 1px 0 rgb(65 69 73 / 30%), 0 1px 3px 1px rgb(65 69 73 / 15%);
}

.search-input {
    background: transparent !important;
    border: none;
    font: normal 16px Roboto, Helvetica, Arial, sans-serif;
    height: 28px;
    margin: 0px;
    outline: none;
    padding: 0px;
    width: 100%;
    z-index: 6;
}

.search-input-container {
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font: normal 16px Roboto, Helvetica, Arial, sans-serif;
    height: 46px;
    margin-left: 56px;
    margin-right: 56px;
    min-width: 320px;
    overflow: hidden;
    padding: 0;
    width: auto;
}

header button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    line-height: 0;
}

header button svg {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #5f6368;
    margin: 2px;
    opacity: 1;
    padding: 8px;
}

.search-form button {
    padding: 0 5px;
}

.search-form button svg {
    margin: 3px;
}

svg {
    fill: currentColor;
}

header button:hover svg {
    background-color: rgba(60,64,67,0.08);
}

header button:active svg {
    background-color: rgba(60,64,67,0.12);
}

.clear-search {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
}

.clear-search.active {
    visibility: visible;
}

.submit-search {
    float: left;
    position: absolute;
    top: 0;
}

.about-button {
    margin-left: auto;
}

.settings-button {
    margin-right: 4px;
}


.filters {
    padding: 8px;
}

.tags-selection {
    display: flex;
    flex-wrap: wrap;
}


.content {
    position: relative;
    height: calc(100vh - var(--nav-size));
    overflow-y: auto;
}

.table-headers table {
    background: white;
    z-index: 9;
}

.table-headers th {
    color: #202124;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
}

table {
    border-spacing: 0;
}

td, th {
    text-align: start;
    text-overflow: ellipsis;
}

td {
    font-size: .875rem;
    min-height: 20px;
    letter-spacing: .2px;
    line-height: 20px;
}

.sorting {
    box-sizing: border-box;
    display: flex;
    padding: 10px 0;
}

.tags {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    min-height: 30px;
    padding-bottom: 2px;
    margin-top: 8px;
    max-width: calc(100vw - 184px);
    width: 100%;
    flex-wrap: wrap;
}

.chip {
    -webkit-align-items: center;
    align-items: center;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 0 1px rgb(100 121 143 / 30%);
    box-shadow: inset 0 0 0 1px rgb(100 121 143 / 30%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #5f6368;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 30px;
    margin-bottom: 4px;
    margin-right: 8px;
    /* max-width: 160px; */
    overflow: hidden;
    padding: 0 12px;
    white-space: nowrap;
}

tr {
    -webkit-box-shadow: inset 0 -1px 0 rgb(100 121 143 / 12%);
    box-shadow: inset 0 -1px 0 rgb(100 121 143 / 12%);
    display: flex;
}

.table-scroller tr {
    padding: 10px 0;
}

.table-scroller tr:hover,
.table-scroller tr:focus,
.table-headers th:hover,
.table-headers th:focus {
    background: rgba(242,245,245,0.8);
    outline: none;
}

tr:hover .article-title {
    font-weight: 500;
}

.header-filler {
    height: 24px;
    visibility: hidden;
}

.star-column {
    height: 24px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: 0;
    order: 0;
    padding: 0 16px;
    position: relative;
    width: 24px;
}

.star-column > .star {
    align-items: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    border: none;
    display: inline-flex;
    justify-content: center;
    height: 24px;
    margin: 0;
    opacity: .16;
    outline: none;
    padding: 0;
    position: relative;
    top: 0;
    width: 24px;
    z-index: 0;
}

tr:hover .star {
    opacity: .56;
}

.selected .star-column > .star {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0,0h24v24H0V0z' fill='none'/%3E%3Cpath d='M12,17.27L18.18,21l-1.64-7.03L22,9.24l-7.19-0.61L12,2L9.19,8.63L2,9.24l5.46,4.73L5.82,21L12,17.27z' fill='%23eb0'/%3E%3C/svg%3E");
    opacity: 1;
}

.selected {
    background: #fffbf1;
}

.star::after {
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
    z-index: -1;
    bottom: -8px;
    left: -8px;
    right: -8px;
    top: -8px;
    background: none;
    border-radius: 50%;
    box-sizing: border-box;
    transform: scale(0);
    transition-property: transform, opacity;
    width: 40px;
    height: 40px;
}

.star:hover::after {
    background-color: rgba(32,33,36,0.059);
    border: none;
    box-shadow: none;
    opacity: 1;
    transform: scale(1);
}

.start:active::after {
    background-color: rgba(32,33,36,0.122);
    border: none;
    box-shadow: none;
    opacity: 1;
    transform: scale(1);
}

.star:focus::after {
    background-color: rgba(32,33,36,0.122);
    border: none;
    box-shadow: inset 0 0 0 1px #bdc1c6;
    opacity: 1;
    transform: scale(1);
}

.score-column {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    height: 24px;
    margin-top: 2px;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 1;
    order: 1;
    padding-right: 10px;
    position: relative;
    width: 118px;
}

.article-content-column {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 2;
    order: 2;
    position: relative;
}